# django settings
SECRET_KEY=<secret_key>
DEBUG=<debug>

# settings for telegram bot
TELEGRAM_BOT_TOKEN=<telegram_bot_token>
TELEGRAM_CHAT_ID=<telegram_chat_id>

# stripe settings
STRIPE_SECRET_KEY=<STRIPE_SECRET_KEY>
STRIPE_PUBLISHABLE_KEY=<STRIPE_PUBLISHABLE_KEY>

# settings for e-mail sending
EMAIL_HOST=<smtp.gmail.com>
EMAIL_HOST_USER=<YourEmail@address>
EMAIL_HOST_PASSWORD=<YourAppPassword>
RECIPIENT_ADDRESS=<TheRecieverOfTheMails>
